<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
rel="stylesheet" />
    <title>Carrito</title>
</head>

<body>
    <header>
        <a href="home"><div class="header-logo">
            <img src="/images/logo.png" alt="logo">
        </div></a>
        <div class="header-icons">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <a href="login"><div class="signUp">
            <i class="fas fa-user"></i>
        </div></a>
        <a href="cart"><div class="cart-icon">
            <i class="fa-solid fa-cart-shopping"></i>
        </div></a>
    </div>
        <nav class="menu-container">
            <div class="btn-close-container">
                <i class="fa-regular fa-xmark"></i>
            </div>
            <ul class="menu">
                <li><a href="">Comic</a></li>
                <li><a href="">Manga</a></li>
                <li><a href="">Aventura</a></li>
                <li><a href="">Ciencia Ficción</a></li>
                <li><a href="">Clásicos</a></li>
                <li><a href="">Drama</a></li>
                <li><a href="">Terror</a></li>
                <li><a href="">Infantil</a></li>
            </ul>
        </nav>
        
        <div class="search-bar">
            <input type="search" placeholder="Busca tu libro por titulo, autor, ISBN">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        </header>
    <main>
    <h1> Mi carrito</h1>
 <section class="productContainer">
    <div>
        <article class="productCard">
            <div class="imageContainer">
            <img src="/images/9788418174575.png" alt="" width="90" height="120">
            </div>
            <h3>Harry Potter y el caliz de fuego</h3>
            <p>$7899</p>
            <button><input type="button" value="1"> </button>
        </article>
    </div>
    <div class="contenedorProductos">
        <article class="productCard">
            <div class="imageContainer">
            <img src="/images/Las crónicas de Narnia.jpg" alt="" width="90" height="120">
            </div>
            <h3>Las cronicas de Narnia</h3>
            <p>$2350</p>
            <button><input type="button" value="1"> </button>
        </article>
    </div>
    <div class="contenedorProductos">
        <article class="productCard">
            <div class="imageContainer">
            <img src="/images/portada_luna-de-pluton_dross_201508312146.jpg" alt="" width="90" height="120">
            </div>
            <h3>Luna de Pluton</h3>
            <p>$3700</p>
            <button><input type="button" value="1"> </button>
        </article>
    </div>
   </section>
   <section class="resumenCompra">
        <div class="precioFinal">
            <h2>TOTAL A PAGAR:</h2>
        </div>
    </section>
    <a href="" class="btn">Finalizar compra</a>

    
</main>
<script>
    let burgerMenu = document.querySelector(".burger-menu");
    let btnClose = document.querySelector(".btn-close-container");
    let menuContainer= document.querySelector(".menu-container");
    burgerMenu.addEventListener("click", () => {
    menuContainer.classList.add("active");  
});
    btnClose.addEventListener("click", ()=> {
        menuContainer.classList.remove("active");
    }
    )
    </script>
</body>
<!--
    <ul>
    <li><a href="cart">Cart</a></li>
    <li><a href="home">Home</a></li>
    <li><a href="login">Log In</a></li>
    <li><a href="product">Product</a></li>
    <li><a href="signin">Sign In</a></li>
</ul>
-->
</html>