<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cart.css">
    <title>Carrito</title>
</head>

<body>
    <main>
    <h1> Mi carrito</h1>
 <section class="productContainer">
    <div>
        <article class="productCard">
            <div class="imageContainer">
            <img src="/images/9788418174575.png" alt="" width="90" height="120">
            </div>
            <h3>Harry Potter y el caliz de fuego</h3>
            <p>$7899</p>
            <button><input type="button" value="1"> </button>
        </article>
    </div>
    <div class="contenedorProductos">
        <article class="productCard">
            <div class="imageContainer">
            <img src="/images/Las crónicas de Narnia.jpg" alt="" width="90" height="120">
            </div>
            <h3>Las cronicas de Narnia</h3>
            <p>$2350</p>
            <button><input type="button" value="1"> </button>
        </article>
    </div>
    <div class="contenedorProductos">
        <article class="productCard">
            <div class="imageContainer">
            <img src="/images/portada_luna-de-pluton_dross_201508312146.jpg" alt="" width="90" height="120">
            </div>
            <h3>Luna de Pluton</h3>
            <p>$3700</p>
            <button><input type="button" value="1"> </button>
        </article>
    </div>
   </section>
   <section class="resumenCompra">
        <div class="precioFinal">
            <h2>TOTAL A PAGAR:</h2>
        </div>
    </section>
    <a href="" class="btn">Finalizar compra</a>

    
</main>
</body>
<ul>
    <li><a href="cart">Cart</a></li>
    <li><a href="home">Home</a></li>
    <li><a href="login">Log In</a></li>
    <li><a href="product">Product</a></li>
    <li><a href="signin">Sign In</a></li>
</ul>
</html>