<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <header>
        <!-- HEADER JPG -->
        <img class="header" src="/images/Header.jpg" alt="Foto Del Header">
    </header>
    
    <!-- MAIN -->
    <main>
        <div>
            <img class="banner" src="/images/bannerIvrea.jpg" alt="Banner Ivrea">
        </div>
        <div class="container_subtitle">
            <h4 class="subtitle">Añadidos recientemente</h4>
        </div> 
        <section class="group">
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/9788418174575.png" alt="Harry Potter y el cáliz de fuego">
                <p>Harry Potter y el cáliz de fuego</p></a>
            </article>
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/Las crónicas de Narnia.jpg" alt="Las Crónicas De Narnia">
                <p>Las Crónicas De Narnia</p></a>
            </article>  
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/portada_luna-de-pluton_dross_201508312146.jpg" alt="Luna De Plutón">
                <p>Luna De Plutón</p></a>
            </article>
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/slamDunk.png" alt="Slam Dunk">
                <p>Slam Dunk</p></a>
            </article>
        </section>

        <div class="container_subtitle">
            <h4 class="subtitle">Ofertas</h4>
        </div> 
        <section class="group">
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/9788418174575.png" alt="Harry Potter y el cáliz de fuego">
                <p>Harry Potter y el cáliz de fuego</p></a>
            </article>
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/Las crónicas de Narnia.jpg" alt="Las Crónicas De Narnia">
                <p>Las Crónicas De Narnia</p></a>
            </article>  
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/portada_luna-de-pluton_dross_201508312146.jpg" alt="Luna De Plutón">
                <p>Luna De Plutón</p></a>
            </article>
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/slamDunk.png" alt="Slam Dunk">
                <p>Slam Dunk</p></a>
            </article>
        </section>

        <div class="container_subtitle">
            <h4 class="subtitle">Mas Leídos</h4>
        </div> 
        <section class="group">
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/9788418174575.png" alt="Harry Potter y el cáliz de fuego">
                <p>Harry Potter y el cáliz de fuego</p></a>
            </article>
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/Las crónicas de Narnia.jpg" alt="Las Crónicas De Narnia">
                <p>Las Crónicas De Narnia</p></a>
            </article>  
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/portada_luna-de-pluton_dross_201508312146.jpg" alt="Luna De Plutón">
                <p>Luna De Plutón</p></a>
            </article>
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/slamDunk.png" alt="Slam Dunk">
                <p>Slam Dunk</p></a> 
            </article>
        </section>

        <section class="group2">
            <article class="container">
                <span>Todos los medios de pago</span>
                <img src="/images/creditCard2.png" alt="Credit Card Logo ">
            </article>
            <article class="container">
                <span>Envíos gratis</span>
                <img src="/images/truck.png" alt="Truck Logo">
            </article>
            <article class="container">
                <span>Cuotas Sin Interés</span>
                <img src="/images/mercadoPago_logo.png" alt="Mercado Pago Logo">
            </article>
            <article class="container">
                <span>Compra Protegida</span>
                <img src="/images/shield.png" alt="Shield Logo">
            </article>
        </section>

        <section class="group3">
            <div class="subscribe">
                <p>Suscribete a nuestro newsletter y recibe las novedades de The BookStore Secret antes que nadie!</p>
                <input class="input-container" type="text" placeholder="Ingresa tu Email">
                <button class="btn">Suscribirme</button>
            </div>
        </section>



    </main>
      
    
    
</body>
</html>