<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>The Secret Bookstore</title>
</head>
<body>
    <header>
        <div class="header">
            <img src="/images/Header.jpg" alt="header">
        </div>
    </header>
    <main>
        <div class="carrusel">
            <img src="/images/bannerIvrea.jpg" alt="bannerIvrea">
        </div>
        <section>
            <div>
                <h3>Añadidos recientemente</h3>
            </div>  
            <article>
                <img src="/images/Las crónicas de Narnia.jpg" alt="Las Crónicas De Narnia">
                <h4>Las Crónicas De Narnia</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </article>
            <article>
                <img src="/images/portada_luna-de-pluton_dross_201508312146.jpg" alt="Luna De Plutón">
                <h4>Luna De Plutón</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </article>
            <article>
                <img src="/images/9788418174575.png" alt="Harry Potter y el cáliz de fuego">
                <h4>Harry Potter y el cáliz de fuego</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </article>
            <article>
                <img src="/images/slamDunk.png" alt="Slam Dunk">
                <h4>Slam Dunk</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </article>
        </section>
        <section>
            <div>
                <h3>Ofertas</h3>
            </div>  
            <article>
                <img src="/images/Las crónicas de Narnia.jpg" alt="Las Crónicas De Narnia">
                <h4>Las Crónicas De Narnia</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </article>
            <article>
                <img src="/images/portada_luna-de-pluton_dross_201508312146.jpg" alt="Luna De Plutón">
                <h4>Luna De Plutón</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </article>
            <article>
                <img src="/images/9788418174575.png" alt="Harry Potter y el cáliz de fuego">
                <h4>Harry Potter y el cáliz de fuego</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </article>
            <article>
                <img src="/images/slamDunk.png" alt="Slam Dunk">
                <h4>Slam Dunk</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </article>
        </section>
        <section>
            <div>
                <h3>Mas Leídos</h3>
            </div>  
            <article>
                <img src="/images/Las crónicas de Narnia.jpg" alt="Las Crónicas De Narnia">
                <h4>Las Crónicas De Narnia</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </article>
            <article>
                <img src="/images/portada_luna-de-pluton_dross_201508312146.jpg" alt="Luna De Plutón">
                <h4>Luna De Plutón</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </article>
            <article>
                <img src="/images/9788418174575.png" alt="Harry Potter y el cáliz de fuego">
                <h4>Harry Potter y el cáliz de fuego</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </article>
            <article>
                <img src="/images/slamDunk.png" alt="Slam Dunk">
                <h4>Slam Dunk</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </article>
        </section>

        <section>
            <article>Todos los medios de pago</article>
            <article>Envíos gratis</article>
            <article>Cuotas sin interés</article>
            <article>Compra protegida</article>
        </section>
        <div>
            <p>Suscríbete a nuestro newsletter y recibe las novedades de The Book Store Secret antes que nadie</p>
            <input type="email" placeholder="Ingresa tu Email...">
            <button>Suscribirme</button>
        </div>


        
    </main>
     

    
</body>
</html>