<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <a href="home"><div class="header-logo">
            <img src="/images/logo.png" alt="logo">
        </div></a>
        <div class="header-icons">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <a href="login"><div class="signUp">
            <i class="fas fa-user"></i>
        </div></a>
        <a href="cart"><div class="cart-icon">
            <i class="fa-solid fa-cart-shopping"></i>
        </div></a>
    </div>
        <nav class="menu-container">
            <div class="btn-close-container">
                <i class="fa-regular fa-xmark"></i>
            </div>
            <ul class="menu">
                <li><a href="">Comic</a></li>
                <li><a href="">Manga</a></li>
                <li><a href="">Aventura</a></li>
                <li><a href="">Ciencia Ficción</a></li>
                <li><a href="">Clásicos</a></li>
                <li><a href="">Drama</a></li>
                <li><a href="">Terror</a></li>
                <li><a href="">Infantil</a></li>
            </ul>
        </nav>
        
        <div class="search-bar">
            <input type="search" placeholder="Busca tu libro por titulo, autor, ISBN">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        </header>
    
    <!-- MAIN -->
    <main>
        <div>
            <img class="banner" src="/images/bannerIvrea.jpg" alt="Banner Ivrea">
        </div>
        <div class="container_subtitle">
            <h4 class="subtitle">Añadidos recientemente</h4>
        </div> 
        <section class="group">
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/9788418174575.png" alt="Harry Potter y el cáliz de fuego">
                <p>Harry Potter y el cáliz de fuego</p></a>
            </article>
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/Las crónicas de Narnia.jpg" alt="Las Crónicas De Narnia">
                <p>Las Crónicas De Narnia</p></a>
            </article>  
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/portada_luna-de-pluton_dross_201508312146.jpg" alt="Luna De Plutón">
                <p>Luna De Plutón</p></a>
            </article>
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/slamDunk.png" alt="Slam Dunk">
                <p>Slam Dunk</p></a>
            </article>
            <article class="container_book">
                <a href="/product"><img class="image_book" src="https://mangadex.org/covers/a77742b1-befd-49a4-bff5-1ad4e6b0ef7b/59ade418-3590-4d7b-91b0-24c8feaa845f.png" alt="Chainsaw Man vol. 1">
                <p>Chainsaw Man vol. 1</p></a>
            </article>
        </section>

        <div class="container_subtitle">
            <h4 class="subtitle">Ofertas</h4>
        </div> 
        <section class="group">
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/9788418174575.png" alt="Harry Potter y el cáliz de fuego">
                <p>Harry Potter y el cáliz de fuego</p></a>
            </article>
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/Las crónicas de Narnia.jpg" alt="Las Crónicas De Narnia">
                <p>Las Crónicas De Narnia</p></a>
            </article>  
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/portada_luna-de-pluton_dross_201508312146.jpg" alt="Luna De Plutón">
                <p>Luna De Plutón</p></a>
            </article>
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/slamDunk.png" alt="Slam Dunk">
                <p>Slam Dunk</p></a>
            </article>
        </section>

        <div class="container_subtitle">
            <h4 class="subtitle">Mas Leídos</h4>
        </div> 
        <section class="group">
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/9788418174575.png" alt="Harry Potter y el cáliz de fuego">
                <p>Harry Potter y el cáliz de fuego</p></a>
            </article>
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/Las crónicas de Narnia.jpg" alt="Las Crónicas De Narnia">
                <p>Las Crónicas De Narnia</p></a>
            </article>  
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/portada_luna-de-pluton_dross_201508312146.jpg" alt="Luna De Plutón">
                <p>Luna De Plutón</p></a>
            </article>
            <article class="container_book">
                <a href="/product"><img class="image_book" src="/images/slamDunk.png" alt="Slam Dunk">
                <p>Slam Dunk</p></a> 
            </article>
        </section>

        <section class="group2">
            <article class="container">
                <span>Todos los medios de pago</span>
                <img src="/images/creditCard2.png" alt="Credit Card Logo ">
            </article>
            <article class="container">
                <span>Envíos gratis</span>
                <img src="/images/truck.png" alt="Truck Logo">
            </article>
            <article class="container">
                <span>Cuotas Sin Interés</span>
                <img src="/images/mercadoPago_logo.png" alt="Mercado Pago Logo">
            </article>
            <article class="container">
                <span>Compra Protegida</span>
                <img src="/images/shield.png" alt="Shield Logo">
            </article>
        </section>

        <section class="group3">
            <div class="subscribe">
                <p>Suscribete a nuestro newsletter y recibe las novedades de The BookStore Secret antes que nadie!</p>
                <input class="input-container" type="text" placeholder="Ingresa tu Email...">
                <button class="btn">Suscribirme</button>
            </div>
        </section>



    </main>
      
    
    <script>
        let burgerMenu = document.querySelector(".burger-menu");
        let btnClose = document.querySelector(".btn-close-container");
        let menuContainer= document.querySelector(".menu-container");
        burgerMenu.addEventListener("click", () => {
        menuContainer.classList.add("active");  
    });
        btnClose.addEventListener("click", ()=> {
            menuContainer.classList.remove("active");
        }
        )
        </script>
</body>
</html>