<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %>  

  <body>
    
    <%- include("../partials/header") %> 
 
    <main class="cart">
      <h1>Mi carrito</h1>

      <section class="container">
        <div class="producto">
          <div class="imagen">
            <img
              src="/images/books/harry-potter-4.jpg"
              alt=""
              height="120px"
              width="90px"
            />
          </div>
          <div class="nombre">
            <span>Herry Potter y el caliz de fuego</span>
            <div class="eliminar">
              <button>Eliminar</button>
            </div>
          </div>
          <div class="boton-precio">
            <span>$Xxxx</span>
            <div class="masmenos">
              <button>-</button>
              <span>1</span>
              <button>+</button>
            </div>
          </div>
        </div>

        <div class="producto">
          <div class="imagen">
            <img
              src="/images/books/narnia-1.jpg"
              alt=""
              height="120px"
              width="90px"
            />
          </div>
          <div class="nombre">
            <span>Las cronicas de Narnia</span>
            <div class="eliminar">
              <button>Eliminar</button>
            </div>
          </div>
          <div class="boton-precio">
            <span>$Xxxx</span>
            <div class="masmenos">
              <button>-</button>
              <span>1</span>
              <button>+</button>
            </div>
          </div>
        </div>

        <div class="producto">
          <div class="imagen">
            <img
              src="/images/books/luna-pluton.jpg"
              alt=""
              height="120px"
              width="90px"
            />
          </div>
          <div class="nombre">
            <span>Luna de Pluton</span>
            <div class="eliminar">
              <button>Eliminar</button>
            </div>
          </div>
          <div class="boton-precio">
            <span>$Xxxx</span>
            <div class="masmenos">
              <button>-</button>
              <span>1</span>
              <button>+</button>
            </div>
          </div>
        </div>
      </section>
      <section class="resumenCompra">
        <div class="precioFinal">
          <h2>TOTAL A PAGAR: $xxXx</h2>
        </div>
      </section>

      <a href="" class="btn">Finalizar compra</a>
    </main>
    
    <%- include("../partials/footer2") %> 

    <%- include("../partials/scripts")  %>
  </body>
  
</html>
