<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/cart.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel="stylesheet"
    />
    <title>Carrito</title>
  </head>

  <body>
    
    <%- include("../partials/header") %> 
 
    <main>
      <h1>Mi carrito</h1>

      <section class="container">
        <div class="producto">
          <div class="imagen">
            <img
              src="./images/books/harry-potter-4.jpg"
              alt=""
              height="120px"
              width="90px"
            />
          </div>
          <div class="nombre">
            <span>Herry Potter y el caliz de fuego</span>
            <div class="eliminar">
              <button>Eliminar</button>
            </div>
          </div>
          <div class="boton-precio">
            <span>$Xxxx</span>
            <div class="masmenos">
              <button>-</button>
              <span>1</span>
              <button>+</button>
            </div>
          </div>
        </div>

        <div class="producto">
          <div class="imagen">
            <img
              src="./images/books/narnia-1.jpg"
              alt=""
              height="120px"
              width="90px"
            />
          </div>
          <div class="nombre">
            <span>Las cronicas de Narnia</span>
            <div class="eliminar">
              <button>Eliminar</button>
            </div>
          </div>
          <div class="boton-precio">
            <span>$Xxxx</span>
            <div class="masmenos">
              <button>-</button>
              <span>1</span>
              <button>+</button>
            </div>
          </div>
        </div>

        <div class="producto">
          <div class="imagen">
            <img
              src="./images/books/luna-pluton.jpg"
              alt=""
              height="120px"
              width="90px"
            />
          </div>
          <div class="nombre">
            <span>Luna de Pluton</span>
            <div class="eliminar">
              <button>Eliminar</button>
            </div>
          </div>
          <div class="boton-precio">
            <span>$Xxxx</span>
            <div class="masmenos">
              <button>-</button>
              <span>1</span>
              <button>+</button>
            </div>
          </div>
        </div>
      </section>
      <section class="resumenCompra">
        <div class="precioFinal">
          <h2>TOTAL A PAGAR: $xxXx</h2>
        </div>
      </section>

      <a href="" class="btn">Finalizar compra</a>
    </main>
    
    <%- include("../partials/footer") %> 

    <script>
      /* variables */
      let burgerMenu = document.querySelector(".burger-menu");
      let btnClose = document.querySelector(".btn-close-container");
      let menuContainer = document.querySelector(".menu-container");
      let abrir1 = document.querySelector(".abrir1");
      let abrir2 = document.querySelector(".abrir2");
      let abrir3 = document.querySelector(".abrir3");
      let more1 = document.querySelector(".more1");
      let less1 = document.querySelector(".less1");
      let more2 = document.querySelector(".more2");
      let less2 = document.querySelector(".less2");
      let more3 = document.querySelector(".more3");
      let less3 = document.querySelector(".less4");
      let lista1 = document.querySelector(".lista1");
      let lista2 = document.querySelector(".lista2");
      let lista3 = document.querySelector(".lista3");

      /* eventos */
      /* header */
      burgerMenu.addEventListener("click", () => {
        menuContainer.classList.add("active");
      });
      btnClose.addEventListener("click", () => {
        menuContainer.classList.remove("active");
      });
      /* footer */
      abrir1.addEventListener("click", () => {
        lista1.classList.add("active");
        more1.classList.remove("active");
        more1.classList.add("inactive");
        less1.classList.add("active");
        less1.classList.remove("inactive");
      });
      abrir2.addEventListener("click", () => {
        lista2.classList.add("active");
        more2.classList.remove("active");
        more2.classList.add("inactive");
        less2.classList.add("active");
        less2.classList.remove("inactive");
      });
      abrir3.addEventListener("click", () => {
        lista3.classList.add("active");
        more3.classList.remove("active");
        more3.classList.add("inactive");
        less3.classList.add("active");
        less3.classList.remove("inactive");
      });
    </script>
  </body>
  <!--
    <ul>
    <li><a href="cart">Cart</a></li>
    <li><a href="home">Home</a></li>
    <li><a href="login">Log In</a></li>
    <li><a href="product">Product</a></li>
    <li><a href="signin">Sign In</a></li>
</ul>
--></html>
