<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/product.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel="stylesheet"
    />
    <title>El pibe Motosierra</title>
  </head>

  <body>
    <%- include("../partials/header") %> 

    
    <main>
      <!-- Barra navegación -->
      <section class="dir-bar">
        <div>
          <a href="home">Inicio</a> / <a href="">Categorías</a> /
          <a href="">El Pibe Motosierra</a>
        </div>
      </section>
      <div class="product">
        <!-- Título -->
        <section class="title-box">
          <!-- Foto -->
          <div class="photo-container">
            <img
              src="./images/books/chainsaw-man-1.jpg"
              alt="Chainsaw Man vol. 1"
            />
          </div>
          <!-- Información -->
        </section>
        <!-- Descripción -->
        <section class="description">
          <div class="info">
            <h2>Chainsaw Man vol. 1</h2>
            <h3>FUJIMOTO, Tatsumi</h3>
          </div>
          <div class="price">Precio: $ X.xxx</div>
          <div class="btn-container">
            <div class="btn">Favorito</div>
            <div class="btn">Comprar</div>
          </div>
          <p>Editorial: Shueisha</p>
          <p>I.S.B.N.:</p>
          <p>Nro. de páginas: 201</p>
          <p>Idiomas: Jpn, Eng, Esp</p>
          <p>Formato: Digital</p>
          <p>
            Clasificación: <a href="">Acción</a> <a href="">Tragedia</a>
            <a href="">Horror</a>
          </p>
          <p>Fecha de publicación:</p>
        </section>
      </div>
      <section class="about">
        <div id="description">
          <h3>Descripción</h3>
          <p>
            Broke young man + chainsaw dog demon = Chainsaw Man! The name says
            it all! Denji's life of poverty is changed forever when he merges
            with his pet chainsaw dog, Pochita! Now he's living in the big city
            and an official Devil Hunter. But he's got a lot to learn about his
            new job and chainsaw powers
          </p>
        </div>
        <div id="about">
          <h3>Sobre FUJIMOTO, Tatsumi</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
            natus repudiandae illo maxime repellat voluptas, cumque blanditiis
            optio itaque quidem quaerat dignissimos doloribus quam accusantium
            voluptatibus quasi sequi id quisquam totam ea fugit facere?
            Consectetur eaque ab vero voluptatem ipsa porro sapiente repellat
            fugit labore. Incidunt voluptas reiciendis necessitatibus tenetur.
          </p>
        </div>
      </section>
      <!-- Relacionados -->
      <section class="related">
        <h3>También te puede interesar</h3>
        <div class="product--container">
          <article>
            <div class="photo-container">
              <img
                src="https://http2.mlstatic.com/D_NQ_NP_880313-MLA48184342634_112021-O.jpg"
                alt="Jujutsu Kaisen vol. 7"
              />
            </div>
            <div>
              <h4>Jujutsu Kaisen vol. 7</h4>
              <h4>Gege Akutami</h4>
              <p>$X.xxx</p>
            </div>
          </article>
          <article>
            <div class="photo-container">
              <img
                src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1624976224l/58453610._SX318_.jpg"
                alt="Jujutsu Kaisen vol. 8"
              />
            </div>
            <div>
              <h4>Jujutsu Kaisen vol. 8</h4>
              <h4>Gege Akutami</h4>
              <p>$X.xxx</p>
            </div>
          </article>
          <article>
            <div class="photo-container">
              <img
                src="https://images.cdn3.buscalibre.com/fit-in/360x360/24/67/2467b765276184f142d032247eefd135.jpg"
                alt="Dandadan vol. 1"
              />
            </div>
            <div>
              <h4>Dandadan vol. 1</h4>
              <h4>Yukinobu Tatsu</h4>
              <p>$X.xxx</p>
            </div>
          </article>
          <article>
            <div class="photo-container">
              <img
                src="https://www.tebeosfera.com/T3content/img/T3_numeros/4/8/b1ae1d7b973046068515c2b703a4c448.jpg"
                alt="Spy x Family vol. 1"
              />
            </div>
            <div>
              <h4>Spy x Family vol. 1</h4>
              <h4>Tatsuya Endo</h4>
              <p>$X.xxx</p>
            </div>
          </article>
        </div>
      </section>
      <!-- Comentarios -->
      <section class="comments-box">
        <h3>Comentarios</h3>
        <article>
          <div class="comment">
            <img
              src="https://i.pinimg.com/736x/3d/0b/eb/3d0beb6dc101ba502ceb306956641eee.jpg"
              alt=""
            />
            <div class="name">
              <p>Satoru Gojo</p>
              <p>5*</p>
            </div>
          </div>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt porro
            fugit odit expedita fuga? Eum fugiat blanditiis reprehenderit
            voluptatum consequuntur! Asperiores, dolore dolorem aut delectus
            enim non nostrum amet culpa, quisquam vitae similique repellat eaque
            sed eos vel. Voluptatibus, debitis omnis laboriosam quia unde
            quibusdam dolorem nostrum culpa cumque a.
          </p>
        </article>
        <article>
          <div class="comment">
            <img
              src="https://i.pinimg.com/736x/3d/0b/eb/3d0beb6dc101ba502ceb306956641eee.jpg"
              alt=""
            />
            <div class="name">
              <p>Satoru Gojo</p>
              <p>5*</p>
            </div>
          </div>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt porro
            fugit odit expedita fuga? Eum fugiat blanditiis reprehenderit
            voluptatum consequuntur! Asperiores, dolore dolorem aut delectus
            enim non nostrum amet culpa, quisquam vitae similique repellat eaque
            sed eos vel. Voluptatibus, debitis omnis laboriosam quia unde
            quibusdam dolorem nostrum culpa cumque a.
          </p>
        </article>
        <article>
          <div class="comment">
            <img
              src="https://i.pinimg.com/736x/3d/0b/eb/3d0beb6dc101ba502ceb306956641eee.jpg"
              alt=""
            />
            <div class="name">
              <p>Satoru Gojo</p>
              <p>5*</p>
            </div>
          </div>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt porro
            fugit odit expedita fuga? Eum fugiat blanditiis reprehenderit
            voluptatum consequuntur! Asperiores, dolore dolorem aut delectus
            enim non nostrum amet culpa, quisquam vitae similique repellat eaque
            sed eos vel. Voluptatibus, debitis omnis laboriosam quia unde
            quibusdam dolorem nostrum culpa cumque a.
          </p>
        </article>
      </section>
      <!-- Caja comentarios -->
      <section>
        <form action="">
          <div>
            <textarea
              name="comment"
              id=""
              cols="40"
              rows="10"
              placeholder="Deja tu comentario aquí"
            ></textarea>
          </div>
          <label for="calificacion">Calificación</label>
          <select name="calificacion" id="calificacion">
            <option value="1">1*</option>
            <option value="2">2*</option>
            <option value="3">3*</option>
            <option value="4">4*</option>
            <option value="5">5*</option>
          </select>
          <input type="submit" value="Comentar" />
        </form>
      </section>
    </main>
    <footer>
      <div class="img-container footer">
        <img src="./images/main/logo.png" alt="Logo" class="footer" />
      </div>
      <section class="footer">
        <div class="footer abrir1">
          <span>Nosotros</span><span class="more1">+</span
          ><span class="less1">-</span>
        </div>
        <ul class="footer lista1">
          <li><a href="">Quienes somos</a></li>
          <li><a href="">Contáctanos</a></li>
          <li><a href="">Sucursales</a></li>
          <li><a href="">Novedades</a></li>
        </ul>
      </section>
      <section class="footer">
        <div class="footer abrir2">
          <span>Ayuda</span><span class="more2">+</span
          ><span class="less2">-</span>
        </div>
        <ul class="footer lista2">
          <li><a href="">F.A.Q.</a></li>
          <li><a href="">Medios de pago</a></li>
          <li><a href="">Promociones</a></li>
        </ul>
      </section>
      <section class="footer">
        <div class="footer abrir3">
          <span>Atención al clinte</span><span class="more3">+</span
          ><span class="less3">-</span>
        </div>
        <ul class="footer lista3">
          <li><a href="">Nuestro teléfono</a></li>
          <li><a href="">correo@mail.com</a></li>
          <li><a href="">Dirección</a></li>
        </ul>
      </section>
    </footer>
    <script>
      /* variables */
      let burgerMenu = document.querySelector(".burger-menu");
      let btnClose = document.querySelector(".btn-close-container");
      let menuContainer = document.querySelector(".menu-container");
      let abrir1 = document.querySelector(".abrir1");
      let abrir2 = document.querySelector(".abrir2");
      let abrir3 = document.querySelector(".abrir3");
      let more1 = document.querySelector(".more1");
      let less1 = document.querySelector(".less1");
      let more2 = document.querySelector(".more2");
      let less2 = document.querySelector(".less2");
      let more3 = document.querySelector(".more3");
      let less3 = document.querySelector(".less4");
      let lista1 = document.querySelector(".lista1");
      let lista2 = document.querySelector(".lista2");
      let lista3 = document.querySelector(".lista3");

      /* eventos */
      /* header */
      burgerMenu.addEventListener("click", () => {
        menuContainer.classList.add("active");
      });
      btnClose.addEventListener("click", () => {
        menuContainer.classList.remove("active");
      });
      /* footer */
      abrir1.addEventListener("click", () => {
        lista1.classList.add("active");
        more1.classList.remove("active");
        more1.classList.add("inactive");
        less1.classList.add("active");
        less1.classList.remove("inactive");
      });
      abrir2.addEventListener("click", () => {
        lista2.classList.add("active");
        more2.classList.remove("active");
        more2.classList.add("inactive");
        less2.classList.add("active");
        less2.classList.remove("inactive");
      });
      abrir3.addEventListener("click", () => {
        lista3.classList.add("active");
        more3.classList.remove("active");
        more3.classList.add("inactive");
        less3.classList.add("active");
        less3.classList.remove("inactive");
      });
    </script>
  </body>
</html>
