*{
     box-sizing: border-box;
}

/* HEADER */
header div.header img{
     width: 100%;
}

/* MAIN */

main {
     background-color: ;
}

div.slideshow img {
     width: 100%;

}

div.subtitles h3 {
     border-bottom: solid #2D033B 3px;
     padding: 5px 15px;
     margin: 1px 3px 11px 3px;
     
}

article img {
     height: 145px;
     width: 100px; 
}

section.books {
     display: flex;
     text-align: center;
}

