/* HEADER */
header div.header img{
     width: 100%;
}

/* MAIN */

div.carrusel img {
     width: 100%;
}

div h3 {
     border-bottom: solid #2D033B 3px;
     margin: 0 4%;
}

article img {
     width: 40%;
     display: flex;
     flex-direction: row;
} 

h3 {
     padding: 5px 15px;
}

