<footer>
    <div class="img-container footer">
      <img src="/images/main/logo.png" alt="Logo" class="footer" />
    </div>
    <section class="footer">
      <div class="footer abrir1">
        <span>Nosotros</span><span class="more1">+</span
        ><span class="less1">-</span>
      </div>
      <ul class="footer lista1">
        <li><a href="">Quienes somos</a></li>
        <li><a href="">Contáctanos</a></li>
        <li><a href="">Sucursales</a></li>
        <li><a href="">Novedades</a></li>
      </ul>
    </section>
    <section class="footer">
      <div class="footer abrir2">
        <span>Ayuda</span><span class="more2">+</span
        ><span class="less2">-</span>
      </div>
      <ul class="footer lista2">
        <li><a href="">F.A.Q.</a></li>
        <li><a href="">Medios de pago</a></li>
        <li><a href="">Promociones</a></li>
      </ul>
    </section>
    <section class="footer">
      <div class="footer abrir3">
        <span>Atención al cliente</span><span class="more3">+</span
        ><span class="less3">-</span>
      </div>
      <ul class="footer lista3">
        <li><a href="">Nuestro teléfono</a></li>
        <li><a href="">correo@mail.com</a></li>
        <li><a href="">Dirección</a></li>
      </ul>
    </section>
  </footer>