<header>
    <a href="home"
      ><div class="header-logo">
        <img src="/images/main/logo.png" alt="logo" /></div
    ></a>
    <div class="header-icons">
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
      <a href="login"
        ><div class="signUp">
          <i class="fas fa-user"></i></div
      ></a>
      <a href="cart"
        ><div class="cart-icon">
          <i class="fa-solid fa-cart-shopping"></i></div
      ></a>
    </div>
    <nav class="menu-container">
      <div class="btn-close-container">
        <i class="fa-regular fa-xmark"></i>
      </div>
      <ul class="menu">
        <li><a href="">Comic</a></li>
        <li><a href="">Manga</a></li>
        <li><a href="">Aventura</a></li>
        <li><a href="">Ciencia Ficción</a></li>
        <li><a href="">Clásicos</a></li>
        <li><a href="">Drama</a></li>
        <li><a href="">Terror</a></li>
        <li><a href="">Infantil</a></li>
      </ul>
    </nav>

    <div class="search-bar">
      <input
        type="search"
        placeholder="Busca tu libro por titulo, autor, ISBN"
      />
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </header>