<header>
  <div class="top-header"><a href="/">
      <div class="header-logo">
        <img src="/images/main/logo.png" alt="logo" />
      </div>
    </a>
    <div class="header-elem">
      <div class="search-bar">
        <form action="/search" method="get" class="search-form">
          <input type="text" name="keywords" placeholder="Busca tu libro por titulo o autor"
            class="search-form_input" />
          <button type="submit" class="search-form_button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
      <div class="header-icons">
          <% if (typeof session.user == "undefined") { %>
            <div class="signUp fa-user">
              <i class="fas fa-user"></i>
            </div>
            <% } else { %>
              <div class="user fa-user">
                <i class="fas fa-user"></i>
              </div>              
            <% } %>
              <div class="menu-user bubble-top">
                <% if (typeof session.user == "undefined") { %>
                <a href="/users/login">Iniciar sesión</a>  
                <a href="/users/register">Registrate</a>
              <% } else { %>
                  <a href="/users/profile">Mi Perfil</a><br>
                  <a href="/users/logout">Cerrar sesión</a>
                <% } %>
              </div>    
        <a href="/users/cart">
          <div class="cart-icon">
            <i class="fa-solid fa-cart-shopping"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="burger-menu">
    <i class="fas fa-bars"></i>
  </div>
  <nav class="menu-container">
    <div class="btn-close-container">
      <i class="fa-regular fa-xmark"></i>
    </div>
    
    <ul class="menu">
      <li class="categoria"><a href=""> Libros por género </a></li>
      <li class="categoria"><a href="/store/category/22"> Educativos/Escolares </a></li>
      <li class="categoria"><a href=""> Comic y Manga </a></li>
      <li><a href="/store/">Nuestra colección </a></li>

      <% if (typeof session.user == "undefined") { %>
        
        <%}%>
      <% if (typeof session.user != "undefined" && session.user.role) { %>
        <li><a href="/store/create">Vender</a></li>
      <% } %>
    </ul>
  </nav>
    <div class="categories">
        <a href="/store/category/1">Acción</a><br>
        <a href="/store/category/20">Épico</a><br>
        <a href="/store/category/21">Filosofía</a><br>
        <a href="/store/category/19">Clásicos</a><br>
        <a href="/store/category/9">Infantil</a><br>
        <a href="/store/category/16">Histórico</a><br>
        <a href="/store/category/12">Aventura</a><br>
        <a href="/store/category/11">Romance</a><br>
        <a href="/store/category/4">Fantasía</a><br>
        <a href="/store/category/5">Policial</a><br>
        <a href="/store/category/8">Comedia</a><br>
        <a href="/store/category/14">Terror</a><br>
        <a href="/store/category/13">Drama</a><br>
        <a href="/store/category/6">Novelas gráficas</a><br>
        <a href="/store/category/7">Ciencia Ficción</a>
      </ul>
  </div>
</header>