<div class="slider">
            <ul class="slides">
                <li><img src="/images/slider/mangabanner.png" alt="imagen2" /><span></span></li>
                <li><img src="/images/slider/1_las_siete_vidas_de_mason.jpg" alt="imagen2" /><span></span></li>
                <li><img src="/images/slider/2_lyna_vallejos.jpg" alt="imagen3" /><span></span></li>
                <li><img src="/images/slider/Banner_Volvio_EL_SISTEMASOLAR____1400x350px.jpg" alt="imagen4" /><span></span></li>
                <li><img src="/images/slider/Diseño sin título.png" alt="imagen1" /><span></span></li>
            </ul>
            <div class="buttons">
                <div class="next">&#10095;</div>
                <div class="prev">&#10094;</div>
            </div>

        </div>