@import url('header.css');

h1 {
    color: var(--violeta-oscuro);
    margin-left: 85px;
    text-decoration-line:underline;
    text-decoration-color: var(--rosa);
}

.full-container {
    padding: 10px;
    background-color: var(--rosa-claro);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;
    height: 450px;
    border-radius: 4%;
    
}
.product-container {
    background-color: var(--violeta-oscuro);
    border: .1px dashed white;   
    height: 100px;
    width: 100%;
    margin-right: 50%;
    margin-top: 3%;
    

}
.name {
    margin-top: -95px;
    margin-left: 100px;
    color: white;
    
}
.img {
   margin: 10px 10px; 
}
.fa-regular.fa-trash-can {
    margin-top: 60px;
    margin-left: 35px;
    font-size: 20px;
    color: #fff;
}
.fa-regular.fa-trash-can.dos{
    margin-top: 20px;
    margin-left: 146px;
    font-size: 20px;
    color: #fff;
}
.fa-regular.fa-trash-can.tres {
    margin-bottom: 20px;
    margin-left: 235px;
    font-size: 20px;
    color: #fff;
}
    

.price {
    color: black;
    margin-left: 150px;
    margin-top: -40px;
    width: fit-content;
    border: 1px dashed white;
    border-radius: 10px;
    font-size: 25px;
    background-color: white;
}
.price_dos {
    color: black;
    margin-left: 150px;
    margin-top: -53px;
    width: fit-content;
    border: 1px dashed white;
    border-radius: 10px;
    font-size: 25px;
    background-color: white;
}
.button-masmenos {
   margin-left: 240px;
   margin-top: -35px;
}
#contador {
    text-align: center;
    width: 20px;
}

.resumenCompra {
    border: 2px solid white;
    background-color: var(--violeta-oscuro);
    width: 42%;
    margin-left: 630px;
    margin-top: -369px;
    height: 365px;
}
.price-env {
    color: white;
    margin-left: 20px;
    margin-top: 55px;
}


#btn-finish {
    border: 2px solid var(--rosa);
    background-color: var(--violeta-oscuro);
    color: var(--rosa-claro);
    font-size: 20px;
    border-radius: 10px;
    margin-left: 160px;
    margin-top: 30px;
    width: 40%;
}
#btn-finish:hover {background-color: white; color: var(--violeta-oscuro);}
#btn-cancel {
    border: 2px solid var(--rosa);
    background-color: var(--violeta-oscuro);
    color: var(--rosa-claro);
    font-size: 20px;
    border-radius: 10px;
    margin-left: 160px;
    margin-top: 45px;
    width: 40%;
}
#btn-cancel:hover {background-color: red; color: white;}

@media ( min-width: 768px) {
    h1 {margin-left: 300px;}
    .product-container{width: auto;}
    .name{font-size: 25px;}
    .delete{margin-left: 400px; margin-top: -40px;}
    .delete-1{margin-left: 290px;}
    .delete-2{margin-left: 200px; margin-top: -40px;}
    /* .price{width: 10%; margin-left: 150px; margin-top: 40px;} */
    /* .button-masmenos{margin-left: 250px;} */
    /* #btn{margin-left: 180px; font-size: 30px;} */
}

/* @media ( min-width: 1024px){
    h1{margin-left: 400px;}
    .full-container{width: 65%; margin-left: 20px;}
    .resumenCompra{width: 30%; margin-left: 690px; margin-top: -470px;height: 470px;}
    #env{margin-top: 350px;}
    #btn{margin-left: 300px;transition: 0.2ms;}
    #btn:hover {background-color: white; color: var(--violeta-oscuro);}
}
 */
