@import url('header.css');

 
body {
     background-color: rgb(45, 3, 59) ;
}
* { 
     box-sizing: border-box;
     flex-wrap: wrap;

}
main {
     width: 80%;
     margin: 0 auto;
 }
 h1 {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    color: white;
    font-size: 1.3rem;
    border: 1px solid rgb(168, 85, 246) ;
 }
 section.container {
     background-color:rgba(138, 43, 226,0.5 );
     border: 2px solid rgba(138, 43, 226, 0.5) ;
     border-radius:12px;
     padding: 8px;
     display: flex;
     flex-direction: row;
     gap: 5px;
     
     
 }
 section.container div.producto {
     display: flex;
     flex-wrap:wrap;
     width: 100%;
     align-items: center;
     justify-content: space-between;
 }
 
 .imagen{
     margin: 5px;
     box-sizing: border-box;
    box-shadow: 1px 1px white;
 }


 div.nombre {
     color:  rgb(247, 244, 248);
     align-items: center;
     font-size: 1.3rem;
     display: flex;
     flex-direction: column;
 }
 
 .masmenos {
    color: white;
    display: flex;
    align-items:flex-end;
 }
 div.boton-precio span {
    font-size: 1.3rem;
    text-align: center;
    color: white;
 }
 section.resumenCompra div.precioFinal {
     background-color: rgba(138, 43, 226, 0.5);
     font-size: 16px;
     color: white;
     text-align: center;
     border-radius:  12px;
     margin-left: 20%;
     margin-right: 20%;
 }
.btn {
    color: white;
    margin-left: 40%;
    
    margin-top: 10%;
    border: 1px solid white;
    text-align: center;
    font-size: 0.9rem;
    border-radius: 13px;
    
}

@media ( max-width: 768px) {
  .btn {
    margin-left: 30%;
    
  }
}
@media (min-width: 769px) and (max-width: 1024px){
    .btn {
        font-size: 2.0rem;
        margin-left: 35%;
    }

}
@media (min-width: 1024px) {
    .btn{
        font-size: 2.3rem;
        margin-left: 35%;   
    }
    .nombre {
        font-size: 1.9rem;
    }
}