@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

:root {
  --violeta-oscuro: #2d033b;
  --violeta-claro: #810ca8;
  --rosa: #c147e9;
  --rosa-claro: #e5b8f4;
  --inter: "Inter", sans-serif;
  --garamond: "EB Garamond", serif;
}


header {
  background-color: #F0F0F5; 
  width: 100vw;
  position: 0 0 fixed;
}

.header-logo {
  text-align: center;
  padding: 10px;
}

.header-logo img {
  width: 40vw;
}

header div.burger-menu i,
header div.cart-icon i,
header div.signUp i,
header div.user i {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px;
  width: 30px;
  height: 30px;
  color: var(--violeta-oscuro);
}
header div.cart-icon i {
  border: 3px solid var(--violeta-oscuro);
  border-radius: 50%;
}

header div.signUp i {
  border: 3px solid var(--violeta-oscuro);
  border-radius: 50%;
  position: relative;
}

header div.user i {
  border: 3px solid lightseagreen;
  border-radius: 50%;
}

header div.burger-menu i{
  border: 3px solid var(--violeta-oscuro);
  border-radius: 5px;  
  padding: 15px;
  font-size: 20px;
}

header div.header-elem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
justify-content: space-between;
align-items: center;

}

header div.header-icons {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

header div.burger-menu {
  width: 50%;
  cursor: pointer;
}

header nav {
  display: none;
}

header nav.active {
  z-index: 1;
  background-color: var(--violeta-oscuro);
  text-align: left;
  width: 100vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 15px;
}
header div.categories {
  position: absolute;
  display: none;
  margin-left: 10px;
  flex-direction: column;
  background-color: var(--rosa-claro);
  border: 2px solid var(--violeta-oscuro);
  width: max-content;
  padding: 3px 10px;
  z-index: 2;
}

header div.categories a{
  text-decoration: none;
  color: var(--violeta-oscuro);
  font-size: 25px;
}

header div.categories a:hover {
  font-weight: bold;
}

header div.categories.mostrar {
  display: block;
  transform: translate(240px, -190px);
}

/*header nav .btn-close-container i {
  font-size: 25px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  padding: 20px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 3px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}*/

header nav ul.menu {
  padding-left: 0;
  border-bottom: 1px solid var(--violeta-claro) ;
}

header nav ul li {
  list-style-type: none;
  height: 45px;
  margin-left: 15px;
}

header nav ul li a {
  color: var(--rosa-claro);
  text-decoration: none;
  font-size: 25px;
  width: 100%;
  text-align: left;
}

header nav .btn-close-container {
  position: relative;
  border: none;
}

header .search-bar {
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  margin: 10px auto;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5%;
}

.search-form_input {
  width: 60vw;
  height: 35px;
  border: none;
  text-align: center;
  border-radius: 20px;
  box-shadow: 1px 1px var(--violeta-oscuro)
}

.search-form_button {
  position: absolute;
  right: 10px;
  height: 60%;
  background-color: #ffffff;
  border: none;
  border-left: solid 1px var(--violeta-oscuro);
  color: var(--gray);
  cursor: pointer;
}

/*header .search-bar {
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  margin: 10px auto;
}

header .search-bar input {
  width: 60vw;
  height: 35px;
  border: none;
  text-align: center;
  border-radius: 20px;
  box-shadow: 1px 1px var(--violeta-oscuro) ;
  position: relative;

}

div.search-bar button i {
  position: absolute;
  left: 180px; 

  border: none;
  color: var(--gray);
  cursor: pointer;
}

/*header .search-bar i {
  position: absolute;
  right: 15px;
}*/

.menu-user {
  display: none;
  position: absolute;
  font-size: 1rem;
  width: 9rem;
  background-color: var(--rosa-claro);
  padding: 1rem;
  border: 1px solid var(--violeta-oscuro);
  border-radius: .5rem;
  transform: translateY(70px);
}

.menu-user.show {
  display: block;
}

.menu-user a {
  text-decoration: none;
  color: var(--violeta-oscuro);
}

.menu-user a:hover {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  header div.burger-menu {
    display: none;
  }

  header div.btn-close-container {
    display: none;
  }

  div.header-logo {
    text-align: left;
    width: 200px;
  }

  header div.header-icons {
    justify-content: flex-end;
    align-items: flex-end;
    gap: 30px;
  margin-right: 30px;
  }

  header div.top-header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  header .search-bar input {
    width: 400px;
    margin: 5px;
  }
  header div.search-bar {
    padding: 5px;
    margin: 0 5px;
    border: none;
  }
  .header-logo img {
    width: 180px;
  }
  header nav {
    display: flex;
    position: static;
    margin: 0;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    background: var(--violeta-oscuro);
  }

  header nav ul.menu{
    border-bottom: 0;
    margin-bottom: 0;
  }
  header nav ul li {
    display: inline-block;
    text-align: center;
    padding: 0 10px;

  }

  header nav ul li a{
    text-align: center;
  }

  header nav ul li:hover {
    background-color: var(--rosa-claro);
    color: var(--violeta-oscuro);
  }

  header nav ul li:hover a{
    color: var(--violeta-oscuro);
  }
  header div.categories {
    display: none;
    margin-left: 10px;
    flex-direction: column;
    background-color: var(--rosa-claro);
    border: 2px solid var(--violeta-oscuro);
    width: max-content;
    padding: 3px 10px;
    z-index: 2;

  }

  header div.categories a{
    text-decoration: none;
    color: var(--violeta-oscuro);
    font-size: 25px;
  }

  header div.categories a:hover {
    font-weight: bold;
  }
  header div.categories.mostrar {
    display: block;
    transform: translateY(-43px);
    margin-left: 12px;
    
  }

}

@media screen and (min-width: 1024px) {
  header .search-bar input  {
    width: 700px;
  }
  header div.categories.mostrar {
    display: block;
    transform: translateY(1px);
    margin-left: 10px;
    
  }

}