@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Raleway:wght@400;500;700&display=swap');

/*  GENERALES  */


:root {
    --main-color: rgb(229, 184, 244);
    --secondary: rgb(193, 71, 233);
    --btn-color: rgb(129, 12, 168);
    --text-color: rgb(45, 3, 59);
    --font-kanit:  'Kanit', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f0f0f5
}

h4 {
    color: #0f0c0c;
}

/*  MAIN  */

main.home {
    background-color: #f0f0f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main div img.banner {
    width: 100%;
    height: 230px;
   
}

div.container_subtitle {
    border-bottom: 3px solid var(--main-color);
    margin: 10px 16px 17px;
    padding-bottom: 2px;
}

h4.subtitle {
    margin-left: 8px;
    color: #0f0c0c;
    font-size: 1rem;
    text-transform: uppercase;
}

section article a p {
    text-decoration: none;
    color: black;
    font-family: var(--font-raleway);
    text-transform: uppercase;
    font-weight: 500;
}

main section article p.card-price {
    font-size: 16px;
    color: var(--text-color);

}

main button.home-buy {
    color: white;
    background-color: var(--btn-color);
    padding: 0.7em 1.4em;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0.6rem;
    border: var(--violeta-oscuro);
    box-shadow: 1px 1px 3px;
    margin-top: 8px;

}

main button.home-buy:focus {
    border: 3px solid var(--text-color);
}


article img.image_book {
    height: 160px;
    width: 107px;
}

article.container_book {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    max-width: 240px;
    margin: 7px;
    background-color: rgb(244, 226, 251);
    border-radius: 15px;
}

article.container_book:hover {
    box-shadow: 2px 1px 1px 1px gray
}

/*  FLEX BOX  */

section.group {
    display: flex;
    flex-wrap: wrap; /*salto de linea*/
    justify-content:space-evenly;
    margin-bottom: 20px;
    width: 92%;
}


main section.group2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 22px;
    
}

section article.container {
    border: solid 2px var(--main-color);
    border-radius: 3px;
    height: 50px;
    width: 150px;
    margin: 6px;
    background-color: var(--btn-color);
    text-align: center;
    
}

section.group3 {
    margin: auto;
}

section.group3 div.subscribe {
    border: solid ;
    background-color: var(--btn-color);
    width: 80%;
    height: 150px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

section.group3 div.subscribe p {
    margin: 2px 3px 2px;
}

div.subscribe input.input-container {
    width: 222px;
    display: block;
    margin:  7px auto;
    padding: 3px;
}

div.subscribe button.btn {
    height: 27px;
    width: 95px;
    margin: 3px ;
    border-radius: 17px;
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: bold;
}





@media (min-width:460px){
    section.group {
        display: flex;
    }


    /* main div img.banner {
        height: 275px;
    }

    main section.group2 {
        margin: 5px 20px;
        border: solid 2px var(--main-color);
        height: 50px;
        background-color: var(--btn-color);
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    
    section article.container {
        border: none;
        height: 35px;
        width: 115px;
        margin: 6px;
        background-color: var(--btn-color);
    }

    section article.container span {
        display: block;
        text-align: center;
    }
    
    section article.container img {
        display: inline-block;
        text-align: center;
    } */
}




@media (min-width:768px) { /*PRUEBA*/
    
}


