@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Raleway:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root {
    --violeta-oscuro: #2D033B;
    --violeta-claro: #810CA8;
    --rosa: #C147E9;
    --rosa-claro: #E5B8F4;
    --inter: 'Inter', sans-serif;
    --garamond: 'EB Garamond', serif;
    --font-kanit:  'Kanit', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
    --font-specialElite: 'Special Elite', cursive;
}

* {
    box-sizing: border-box;

}
.register-login {
    background-image: url("../images/main/background-forms.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
    background-position: center;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    }
    
    div.recordarCheck {
        width: 60%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }
  
.register-login .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    opacity: 0.95;
    width: fit-content;
    background-color: white;
    margin: 15px;
    border-radius: 8%;  
    padding: 10px 15px;
    font-family: var(--font-raleway);
    box-shadow: 5px 5px 5px black;
    

}

.register-login h1 {
    text-align: center;
    text-transform: none;
    font-weight: bold; 
    font-family: var(--font-specialElite);
}

.register-login h1.web_name {
    margin-bottom: 2rem;
    color: #2D033B;

}


.register-login h2 {
    text-decoration: double underline;
    align-self:center;
    margin-bottom: 1.5rem;
    font-family: var(--font-specialElite);  

}

.register-login .input-container {
    max-width: 60vw ;
    margin-bottom: 1.2rem;
    position: relative;
}

.register-login .input-container label {
    font-weight: 500;
    font-family: var(--font-specialElite);
}

.register-login .input-container input {
    width: 90%;
    font-family: var(--font-specialElite);
    border-top: none;
    border-right: none;
    border-left: none;


}

.register-login .input-container i {
    position: absolute;
    top: 100%;
    transform: translateY(-130%);
    right: 13%;
    color: var(--violeta-oscuro)
}

.register-login .form button {
    display: block;
    color: white;
    background-color: var(--violeta-oscuro);
    padding: 0.6em 1.3em;
    cursor: pointer;
    font-weight: bold;
    width: 85%;
    border-radius: 0.6rem;
    border: var(--violeta-oscuro);
    box-shadow: 1px 1px 3px;
    margin-bottom: 1.4rem;
    margin-top: 1.4rem;
}

.register-login p a {
    font-weight: bold;
    color: var(--violeta-oscuro);
}

.register-login small.text-danger {
    color: tomato;
    font-size: 0.8rem;
    text-transform: none;
    display: block;
}

.register-login .error-message {
    color: tomato;
    font-size: 0.8rem;
    text-transform: none;
}

.input-file {
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
  }

  .input-file.avatar {
    margin-bottom: 0.5rem;
  }
  
  .input-file::before {
    background-color: var(--rosa-claro);
    text-align: center;
    color: var(--violeta-oscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 75%;
    border-radius: 20px;
    border: solid var(--violeta-oscuro) 1px;
    cursor: pointer;
    
  }
  
  .input-file input[type="file"] {
    opacity: 0;
    width: 75%;
    display: inline-block;
    padding: 8px;
    cursor: pointer;

   
  }
  
  .input-file::before {
    content: 'Subir foto de perfil';
  }
  
  

.register-login .google button {
    background-color: red;
    color: white;
    font-weight: bold;
    justify-items: left;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.25rem;
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;

}

.register-login .facebook button {
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

.register-login input.input-style {
    background-color: whitesmoke;
    border-bottom: 2px solid var(--violeta-oscuro);

}

.register-login input.input-style:hover {
    box-shadow: 0 0 5px var(--violeta-oscuro);
}

@media (min-width:0px) and (max-width:450px) {
    .register-login {
        background-image: none;
       }
    .register-login .form-container {
        box-shadow: none;
    }
   
    }
    

    
@media (min-width:768px) {
    .register-login .form-container {
            width: 60vw;
        }
        .register-login .form {
            display: flex;
            flex-direction: column;
        }
        

        .register-login .input-style {
            width: 100%;
        }
        .register-login .form button {
    
            padding: 8px 12px;
        }
}

@media (min-width:1024px) {
    .register-login .form-container {
        width: 50vw;
    }

}
