:root {
    --main-color: rgb(229, 184, 244);
    --secondary: rgb(193, 71, 233);
    --btn-color: rgb(129, 12, 168);
    --text-color: rgb(45, 3, 59);
}

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font-size: 20px;
}

img {
    width: 100%;
    min-width: 200px;
    max-width: 308px;
}

main {
    background-color: var(--secondary);
}


div.btn-container {
    margin: 9px;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

div.product-btn {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
}




div.dir-bar {
    display: flex;
}


article {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--main-color);
}

article div.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing:content-box;
    width: 100%;
    min-width: 200px;
    max-width: 360px;
}

article section.description {
    max-width: 360px;
}

article section div.description-container,
div.info-container {
    padding: 10px;
}

div.description-container {
    display: block;
    background-color: var(--main-color);
}
#btn-comprar {
    background-color: var(--secondary);
    font-size: 15px;
    width: 25%;
    box-shadow: 1px 2px;
    border-radius: 10%;
    transition: 0.2ms;
}
#btn-comprar:hover {background-color: green; color: white; box-shadow: 1px 2px gold;}

#btn-eliminar {
    background-color: var(--secondary);
    font-size: 15px;
    padding: 3%;
    box-shadow: 1px 2px;
    border-radius: 10%;
    padding-top: 17%;
    padding-bottom: 17%;
    width: 75px;
    transition: 0.2ms;
}
#btn-eliminar:hover {background-color: red; color: white; box-shadow: 1px 2px black;}

#btn-editar {
    background-color: var(--secondary);
    font-size: 15px;
    padding: 5%;
    box-shadow: 1px 2px;
    border-radius: 10%;
    padding-top: 17%;
    padding-bottom: 17%;
    width: 75px;
    transition: 0.2ms;
}
#btn-editar:hover {background-color: var(--main-color); color: var(--secondary); box-shadow: 1px 2px black;}

#btn-favorito {
    background-color: var(--secondary);
    font-size: 15px;
    padding: 3%;
    box-shadow: 1px 2px;
    border-radius: 10%;
}
#btn-favorito:hover {background-color: gold; color: black; box-shadow: 1px 2px black;}
@media (min-width: 768px) {
    article {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}