/* Generales */

:root {
    --main-color: rgb(229, 184, 244);
    --secondary: rgb(193, 71, 233);
    --btn-color: rgb(129, 12, 168);
    --text-color: rgb(45, 3, 59);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: --text-color;
}

ul {
    list-style: none;
}



h2, h3, h4, p, a {
    color: var(--text-color);
    text-decoration: none;
}

img {
    width: 100%;
}

/* Main */

main.product {
    background-color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main.product section{
    padding: 8px;
    margin: 4px 8px;
    width: 95%;
    min-width: 324px;
    background-color: var(--main-color);
}

/* Product box */

main.product div.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

main.product div.product section.title-box {
    display: flex;
    justify-content: center;
}

main.product div.product section div.photo-container {
    width: 75%;
    height: 75%;
}

main.product div.product section div.info {
    width: auto;
    height: 3rem;
    padding: 5px;
    margin-bottom: 1rem;
}

main.product div.product section.description div.btn-container {
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main.product div.product section.description div.btn-container div.product-btn {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-color);
}

main.product div.product section.description div.btn-container div.product-btn:hover {
    background-color: var(--main-color);
    color: var(--text-color);
}





/* RELATED */

section.related h3 {
    margin: 8px;
    text-align: center;
}

section.related div.product--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


section.related div.product--container article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 144px;
    margin-bottom: 8px;
}

/* COMMENTARIES */

main.product section.comments-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

main.product section.comments-box article.comment {
    padding: 8px;
}

main.product section.comments-box article div.comment {
    display: flex;
    height: 30px;
}

main.product section.comments-box article div.comment img {
    width: 30px;
    height: 30px;
    display: inline-block;
}

main.product section.comments-box article div.comment div.name {
    padding-left: 8px;
}

main.product section.comments-box article div.comment div.name p {
    display: block;
    width: auto;
}

main.product section.comments-box p.text {
    margin: 8px;
    padding: 8px;
}


/* COMMENTARY BOX */

main.product section form div {
    width: calc(100%-16px);
}

main.product section form input div textarea {
    width: 100%;
    border-radius: 7px;
}



/* MEDIA QUIERIES */

@media (min-width: 768px) {
    main.product div.product {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    main.product div.product section {
        display: inline-block;
        width: 47%;
    }
    main.product section.about {
        display: flex;
    }
    main.product section.about div {
        padding: 8px;
    }
}