<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %>  

  <body class="register-login">
    
    <%- include("../partials/header") %> 

    <div class="form-container">
      <h2>Registrarse</h2>
      <form action="" method="">
        <div class="form">
          <div class="input-container">
            <label for="nombre">Nombre</label><br />
            <input
              class="input-style"
              type="text"
              name="nombre"
              id="nombre"
              placeholder="Tu nombre"
            />
            <div class="error-message">Datos requeridos</div>
          </div>
          <div class="input-container">
            <label for="apellido">Apellido</label><br />
            <input
              class="input-style"
              type="text"
              name="apellido"
              id="apellido"
              placeholder="Tu apellido"
            />
            <div class="error-message">Datos requeridos</div>
          </div>
          <div class="input-container">
            <label for="dni">DNI</label><br />
            <input
              class="input-style"
              type="tel"
              name="dni"
              id="dni"
              placeholder="Tu DNI"
            />
            <div class="error-message">Datos requeridos</div>
          </div>
          <div class="input-container">
            <label for="email">E-mail</label><br />
            <input
              class="input-style"
              type="email"
              name="email"
              id="email"
              placeholder="Tu e-mail"
            />
            <div class="error-message">Datos requeridos</div>
          </div>
          <div class="input-container">
            <label for="contraseña">Contraseña</label><br />
            <input
              class="input-style"
              type="password"
              name="contraseña"
              id="contraseña"
            />
            <div class="error-message">Datos requeridos</div>
          </div>

          <button type="submit">ENVIAR</button>
        </div>
      </form>
      <p>¿Ya tienes cuenta? <a href="/login">Iniciar sesión</a></p>
    </div>

    <%- include("../partials/footer") %> 
    
    <script>
      /* variables */
      let burgerMenu = document.querySelector(".burger-menu");
      let btnClose = document.querySelector(".btn-close-container");
      let menuContainer = document.querySelector(".menu-container");
      let abrir1 = document.querySelector(".abrir1");
      let abrir2 = document.querySelector(".abrir2");
      let abrir3 = document.querySelector(".abrir3");
      let more1 = document.querySelector(".more1");
      let less1 = document.querySelector(".less1");
      let more2 = document.querySelector(".more2");
      let less2 = document.querySelector(".less2");
      let more3 = document.querySelector(".more3");
      let less3 = document.querySelector(".less4");
      let lista1 = document.querySelector(".lista1");
      let lista2 = document.querySelector(".lista2");
      let lista3 = document.querySelector(".lista3");

      /* eventos */
      /* header */
      burgerMenu.addEventListener("click", () => {
        menuContainer.classList.add("active");
      });
      btnClose.addEventListener("click", () => {
        menuContainer.classList.remove("active");
      });
      /* footer */
      abrir1.addEventListener("click", () => {
        lista1.classList.add("active");
        more1.classList.remove("active");
        more1.classList.add("inactive");
        less1.classList.add("active");
        less1.classList.remove("inactive");
      });
      abrir2.addEventListener("click", () => {
        lista2.classList.add("active");
        more2.classList.remove("active");
        more2.classList.add("inactive");
        less2.classList.add("active");
        less2.classList.remove("inactive");
      });
      abrir3.addEventListener("click", () => {
        lista3.classList.add("active");
        more3.classList.remove("active");
        more3.classList.add("inactive");
        less3.classList.add("active");
        less3.classList.remove("inactive");
      });
    </script>
  </body>
</html>
